In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import sklearn
import seaborn as sns

In [2]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer, make_column_transformer
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import make_pipeline
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor

from sklearn.metrics import mean_squared_error, r2_score 
from sklearn.metrics import accuracy_score

import mlflow
import warnings
warnings.filterwarnings('ignore')

import pickle

In [3]:
df = pd.read_csv('flight.csv')
df.head(10)

,Unnamed: 0,airline,flight,source_city,departure_time,stops,arrival_time,destination_city,class,duration,days_left,price
0,0,SpiceJet,SG-8709,Delhi,Evening,zero,Night,Mumbai,Economy,2.17,1,5953
1,1,SpiceJet,SG-8157,Delhi,Early_Morning,zero,Morning,Mumbai,Economy,2.33,1,5953
2,2,AirAsia,I5-764,Delhi,Early_Morning,zero,Early_Morning,Mumbai,Economy,2.17,1,5956
3,3,Vistara,UK-995,Delhi,Morning,zero,Afternoon,Mumbai,Economy,2.25,1,5955
4,4,Vistara,UK-963,Delhi,Morning,zero,Morning,Mumbai,Economy,2.33,1,5955
5,5,Vistara,UK-945,Delhi,Morning,zero,Afternoon,Mumbai,Economy,2.33,1,5955
6,6,Vistara,UK-927,Delhi,Morning,zero,Morning,Mumbai,Economy,2.08,1,6060
7,7,Vistara,UK-951,Delhi,Afternoon,zero,Evening,Mumbai,Economy,2.17,1,6060
8,8,GO_FIRST,G8-334,Delhi,Early_Morning,zero,Morning,Mumbai,Economy,2.17,1,5954
9,9,GO_FIRST,G8-336,Delhi,Afternoon,zero,Evening,Mumbai,Economy,2.25,1,5954

In [4]:
df.shape

(300153, 12)

#Data Cleaning
1. Handling Missing values
2. Handling Missing values
3. Handling Duplicates
4. Check data type
5. Understand the dataset

In [5]:
#Check features with nan value
df.isnull().sum()

Unnamed: 0          0
airline             0
flight              0
source_city         0
departure_time      0
stops               0
arrival_time        0
destination_city    0
class               0
duration            0
days_left           0
price               0
dtype: int64

In [6]:
#df['flight'].unique.sum()
df['flight'].unique().sum()

'SG-8709SG-8157I5-764UK-995UK-963UK-945UK-927UK-951G8-334G8-336G8-392G8-3386E-50016E-62026E-5496E-6278AI-887AI-665I5-747G8-266G8-101G8-103AI-4416E-5328UK-9336E-2046I5-744SG-81696E-5041G8-1656E-2373UK-813UK-817UK-819UK-801UK-815AI-453SG-2976AI-504AI-502AI-506AI-803AI-479SG-339UK-955UK-627I5-784AI-9643AI-540AI-429AI-439AI-96456E-21936E-21686E-1526E-369UK-899AI-764UK-747UK-809UK-7376E-2338G8-237UK-871AI-762G8-1404AI-512AI-537UK-9776E-184SG-30026E-2102AI-801UK-637UK-835AI-531UK-705UK-707UK-673AI-839UK-879G8-191AI-767AI-401AI-473G8-213AI-409UK-837AI-877SG-8803UK-985UK-953G8-346G8-330G8-3236E-2186E-6722AI-868AI-805AI-624G8-188AI-6366E-2022AI-469AI-542AI-560UK-683AI-4036E-2154AI-9843AI-5446E-282UK-859UK-829AI-98576E-607AI-885SG-2277G8-719G8-119G8-717UK-706AI-4656E-5018UK-839UK-833AI-406AI-9809G8-286UK-847AI-411G8-113SG-8483AI-4756E-1816E-2092AI-99116E-50636E-7403UK-855AI-807G8-300AI-811AI-431SG-1089SG-1061SG-10636E-2054AI-678G8-1010AI-435AI-499AI-9887AI-483G8-357AI-451AI-471SG-1091UK-981UK-975UK-993UK-943UK-941I5-721I5-773G8-199SG-8339AI-481AI-9939UK-811UK-807AI-99156E-21376E-20976E-926AI-415G8-2401UK-727AI-423AI-8656E-2083AI-4856E-5088I5-740I5-4826E-29016E-62616E-2013I5-1529I5-741G8-7533G8-7534G8-7535G8-530G8-354G8-25016E-171I5-788G8-211G8-7553G8-2509G8-194G8-26096E-2042G8-713I5-798I5-775G8-7541G8-2403G8-203G8-209AI-837I5-8816E-53296E-20816E-573AI-491AI-883AI-9609AI-9015SG-9974AI-90176E-865I5-7356E-20336E-62456E-5042SG-8723SG-87016E-25196E-1536E-50266E-50876E-736AI-8616E-69396E-6231AI-4376E-2126E-73366E-60986E-698UK-812AI-641SG-2643G8-268G8-207G8-4046E-73486E-2274G8-105G8-2511G8-1436E-21766E-864G8-108AI-407AI-487G8-107UK-671SG-1916E-20266E-51756E-21886E-6546E-2028I5-548SG-8185SG-89466E-24716E-186G8-2513G8-1316E-21476E-198G8-1336E-62056E-22476E-2005I5-767I5-792I5-783AI-459UK-741AI-467SG-1436E-29146E-7886E-26166E-23366E-2131I5-710I5-711SG-8938I5-768G8-1716E-221SG-87216E-2331SG-8645SG-8171SG-8411SG-8207G8-173I5-7796E-27696E-50596E-7407I5-787SG-5007SG-6001SG-5346E-2036I5-550SG-5012SG-89416E-7726E-9676E-2753UK-721I5-791SG-8910I5-713G8-275G8-422I5-559G8-7549G8-2316E-2343G8-7555G8-1456E-24786E-23486E-20826E-62336E-2249G8-7542SG-4806E-5526E-9516E-2866E-62646E-1776E-7676E-5014G8-1171SG-81916E-20486E-66126E-3086E-781SG-89056E-65656E-2015SG-1976E-963SG-389AI-889SG-946SG-8480G8-22016E-3536E-4836E-2106SG-82536E-9126E-20576E-62386E-24856E-62716E-25136E-7556E-26156E-397SG-8903SG-8187UK-6416E-6195G8-153AI-8916E-21786E-20326E-21816E-69716E-5031AI-8796E-5073SG-81526E-20896E-2329SG-81066E-2148SG-82636E-23676E-20016E-3986E-8896E-7616E-50126E-61876E-20436E-53366E-20316E-28416E-387AI-99916E-6171AI-8956E-50036E-3586E-6613AI-4896E-21096E-25176E-66366E-128SG-10726E-148G8-423I5-829SG-10746E-251I5-7376E-50376E-60966E-61866E-20876E-61986E-50166E-3076E-9476E-2016SG-263SG-2926E-5466E-9726E-61976E-5071G8-1516E-6282SG-81956E-28436E-2479SG-958AI-493SG-60276E-29386E-29396E-23466E-20766E-26186E-21076E-9436E-60236E-61896E-635SG-8968SG-81076E-2896E-21626E-21696E-2061SG-1071SG-10566E-9546E-6739SG-8193SG-8913SG-8103SG-1076E-2719UK-994UK-910G8-3396E-60046E-2077AI-888AI-867AI-660G8-351AI-442UK-958UK-960SG-8710SG-8158I5-9426E-416UK-940UK-9446E-9396E-168AI-631I5-631UK-9966E-53826E-62016E-1766E-6222AI-639AI-649UK-988UK-651UK-863AI-6756E-6234G8-287UK-851AI-651SG-4417UK-613UK-875UK-8526E-574AI-611UK-853G8-349SG-349UK-7736E-53846E-5392UK-771UK-825AI-673AI-9657AI-681UK-775G8-329G8-327G8-319G8-3226E-6721AI-806AI-8096E-5372G8-365G8-387G8-520G8-511AI-6356E-2047SG-2697UK-970SG-8702UK-928G8-364SG-276AI-774AI-619AI-643UK-823AI-667UK-621UK-865AI-685UK-841AI-683G8-382AI-625G8-575G8-3316E-21726E-5017AI-687G8-391UK-8776E-213AI-627UK-655AI-637AI-655AI-607G8-383AI-645AI-663AI-570G8-381AI-671G8-2440SG-1092SG-1090SG-1062I5-620G8-2502SG-343AI-688AI-629AI-669AI-9919AI-679SG-1059UK-954UK-930UK-986UK-950UK-902G8-461UK-653UK-873UK-849UK-845UK-857G8-317UK-821UK-8276E-25186E-53866E-296AI-8646E-6182I5-330I5-15696E-2486E-5395UK-861I5-471G8-7536G8-7537G8-7538G8-341G8-345G8-321G8-25086E-5013I5-678I5-336G8-244G8-2417G8-7546G8-306G8-7545G8-371G8-2411G8-3636E-5376G8-325G8-26066E-50066E-1546E-945AI-615AI-695AI-657AI-633I5-941AI-6526E-5361SG-81796E-53086E-5047I5-3386E-65156E-69936E-53136E-60846E-1646E-53816E-53326E-1386E-21036E-4396E-55016E-821AI-6236E-6029SG-223AI-601G8-398G8-31846E-5431G8-2504G8-2506AI-6036E-53386E-53666E-2196E-64636E-62586E-3546E-52096E-53126E-2366E-52176E-53596E-61096E-5391I5-423SG-4556E-179SG-4886E-53076E-5317G8-3906E-53966E-5202SG-4756E-3316E-68186E-53756E-52086E-61236E-1366E-53936E-60516E-7116E-53166E-5236G8-2601G8-602G8-7561SG-99236E-53716E-72926E-68096E-8256E-53526E-64786E-68176E-62936E-53456E-739SG-415SG-6346E-4616E-2346E-8186E-4486E-4346E-60946E-53376E-907G8-7056E-5343SG-34406E-3956E-60146E-6749SG-4676E-63266E-2056E-53426E-363SG-2416E-3126E-5302SG-401SG-163SG-2516E-544SG-9236E-5196E-5373SG-6116E-53496E-60886E-64756E-559SG-50186E-8326E-627SG-5074G8-26056E-64746E-2276E-6223SG-50796E-60866E-53556E-5336E-5426E-802SG-487G8-397G8-2607SG-32486E-932G8-7557G8-347G8-305G8-3846E-52066E-62066E-52146E-53686E-53796E-5398SG-6003SG-5019G8-303AI-90306E-62926E-911I5-996UK-820UK-8026E-61396E-25146E-20276E-21746E-2034AI-505AI-501AI-503I5-1566G8-405G8-873G8-385SG-136I5-15286E-2186AI-804UK-810AI-808I5-749AI-523UK-808UK-816UK-818I5-1982I5-1426UK-8586E-6104I5-2392AI-6406E-436UK-657G8-283AI-5736E-6257SG-4009I5-592SG-5316E-2766E-6753UK-850G8-3956E-4846E-6535SG-2096E-4156E-64916E-7223UK-8546E-702G8-3206E-886I5-992SG-30276E-5286E-6067I5-1229AI-9501AI-9517G8-803UK-755SG-198I5-892I5-5896E-23376E-4556E-8076E-6393AI-507AI-98766E-6339I5-1621I5-819G8-146AI-9505AI-9547SG-768G8-116G8-118I5-1782G8-312SG-4005AI-9927SG-517SG-327UK-8676E-6802SG-3023AI-565SG-5013SG-5002SG-535I5-410I5-1780I5-2472G8-791AI-516AI-610AI-748AI-738AI-9925G8-285UK-8146E-20256E-6386I5-972UK-897UK-893UK-864UK-846UK-866AI-9931I5-5405I5-5402I5-1321I5-7226E-8556E-6386E-426I5-818I5-1427I5-991I5-1561I5-820I5-2461I5-1451SG-5006I5-1783I5-1576I5-1228I5-1983I5-1731I5-1562I5-339G8-808G8-7547G8-7548G8-241G8-2231G8-7543G8-399G8-5186E-747G8-5106E-2326E-7086E-2053SG-4686E-684I5-1540I5-1530I5-3346E-5436E-6178G8-294G8-815SG-5166E-68766E-408AI-776SG-438SG-6356E-4696E-5376E-8696E-62476E-8716E-7356E-5007SG-8906G8-374G8-401G8-403SG-3233SG-37196E-7257SG-3725AI-604I5-736AI-772G8-292AI-564G8-805G8-801AI-5836E-1136E-53656E-53236E-1316E-72276E-2956E-63456E-1616E-52036E-53896E-8416E-541I5-16226E-60176E-64456E-53996E-6517SG-50726E-379G8-7906E-8066E-3576E-3326E-62126E-64646E-5344I5-1454G8-812G8-75596E-3096E-53036E-60856E-64796E-4886E-7386E-53056E-3566E-60126E-68256E-5756E-62696E-9756E-65726E-5036E-2016E-6766E-8976E-2466E-6798I5-15646E-9596E-2556E-4576E-952I5-5204SG-50736E-1466E-1726E-4096E-524SG-50926E-9786E-4426E-3686E-9696E-7204SG-5093SG-50256E-70716E-478SG-1031SG-8264I5-582I5-2473I5-15636E-2009G8-5196E-7516E-4876E-2246E-65136E-7177AI-402AI-7686E-7234I5-5886E-8546E-8986E-135UK-7786E-6172AI-7216E-715SG-3229SG-3376E-64886E-5996E-394G8-1026E-404AI-676UK-7726E-417AI-773UK-7766E-994SG-40276E-6021UK-774SG-4031AI-7656E-67856E-634G8-227SG-8130AI-763AI-770SG-9911G8-5126E-62146E-63446E-6324UK-7386E-895I5-547I5-5526E-1396E-566AI-9745SG-3281UK-7206E-7561I5-3196E-75836E-512SG-40256E-2616E-961AI-787SG-38396E-4966E-6623SG-10776E-24746E-69176E-8116E-21276E-6616AI-424AI-97416E-7623AI-9755I5-2991G8-393AI-526AI-7456E-7264UK-7086E-294AI-732G8-789AI-747G8-7926E-68916E-8756E-25166E-757AI-97206E-375AI-9929AI-7296E-69656E-563AI-713AI-715I5-583I5-54066E-3186E-1236E-245I5-830G8-537G8-532G8-125G8-295G8-6266E-6087G8-787G8-7562G8-75606E-893AI-781SG-1058AI-743G8-2976E-8566E-67176E-71156E-713G8-2996E-2008SG-254SG-2646E-61216E-72026E-71476E-798AI-7806E-759G8-676SG-3723SG-649SG-3321AI-775AI-7716E-192SG-4896E-62276E-53276E-7175SG-406SG-242SG-387SG-6796E-725SG-5088SG-732G8-704SG-35646E-65976E-7114SG-3666E-892G8-7016E-1346E-7166E-8226E-9666E-534I5-371I5-5106E-3456E-77136E-9896E-268SG-5091SG-5075SG-2746E-61286E-9586E-292I5-5416E-271I5-360I5-5566E-3746E-3216E-69266E-207SG-3832SG-38356E-64446E-6741SG-2508SG-5067I5-1543UK-880I5-1517SG-32836E-22486E-6436E-9136E-7136I5-1518AI-9518AI-9891AI-98816E-7076SG-40036E-24566E-6684UK-860UK-890UK-870AI-6986E-2093UK-830AI-543AI-9875UK-8766E-63076E-6737AI-9885AI-840AI-98936E-7121I5-5176E-6467G8-123SG-3906E-7156AI-5086E-62776E-269AI-525AI-9928G8-661SG-5069AI-838AI-541G8-4246E-32116E-7271UK-878AI-9921AI-515I5-9746E-6865AI-559UK-874UK-659UK-898UK-8946E-23496E-32146E-9826E-60626E-6553I5-766G8-7556G8-426G8-509G8-515G8-571G8-625G8-681G8-506G8-513G8-5176E-2763AI-616AI-4206E-6956E-73076E-9386E-6216E-69156E-20696E-51766E-595G8-551AI-546AI-6206E-8666E-62946E-2511G8-813SG-37286E-53696E-52116E-52186E-64336E-9056E-7936E-52076E-9926E-743G8-5046E-1326E-9036E-53586E-199G8-5016E-61066E-62686E-4536E-5846E-884G8-121G8-503G8-505G8-8066E-63196E-3716E-2856E-72246E-60666E-4136E-5316E-5146E-61516E-8276E-65056E-1576E-7298AI-99376E-9496E-1026E-6686E-72016E-72116E-60076E-62166E-1216E-8876E-1516E-6417G8-9626E-8096E-2836E-944SG-38316E-65936E-3846E-63586E-9226E-4256E-63666E-1496E-6893SG-7316E-2666E-995SG-50946E-62116E-8796E-62426E-1656E-67196E-61486E-8826E-208SG-32396E-4386E-6266E-65916E-70626E-7526E-7118SG-60186E-61746E-67816E-72216E-72936E-27526E-613AI-539SG-612SG-40106E-8476E-6056E-6137UK-838AI-5386E-50026E-2065AI-766UK-8366E-591UK-8326E-50386E-2062SG-5206E-6219SG-6786E-6006AI-430AI-549AI-9894AI-440AI-6726E-495SG-8108I5-5205SG-329SG-81046E-515AI-569UK-834UK-822UK-824SG-10576E-796UK-826UK-8286E-65676E-1936E-61136E-62176E-489I5-821G8-302G8-304I5-1531I5-557SG-1054I5-1727G8-4516E-62156E-5626E-3196E-9176E-156I5-2462I5-3616E-9986E-63096E-581AI-5456E-6815G8-9116E-7195SG-395G8-9176E-2007AI-551AI-5636E-5886E-1266E-53676E-53476E-72886E-53946E-1886E-61116E-9296E-782SG-6006SG-60056E-53316E-927G8-91106E-53256E-70846E-71936E-60956E-2746E-7276E-7329AI-5096E-3656E-7587SG-10326E-8816E-9876E-4776E-3276E-63816E-71496E-75896E-60166E-6066E-183SG-3886E-5396E-26856E-5026E-8486E-62136E-244SG-50686E-401SG-60166E-5616E-61836E-68976E-2986E-9736E-1056E-6116E-72616E-72166E-71856E-8046E-7183SG-60176E-72086E-72526E-71416E-5576E-71276E-7259AI-433'

In [7]:
pd.set_option('display.max_columns', None )  #you can put any number in place of 'None' to see specific number of columns.

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300153 entries, 0 to 300152
Data columns (total 12 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Unnamed: 0        300153 non-null  int64
 1   airline           300153 non-null  object
 2   flight            300153 non-null  object
 3   source_city       300153 non-null  object
 4   departure_time    300153 non-null  object
 5   stops             300153 non-null  object
 6   arrival_time      300153 non-null  object
 7   destination_city  300153 non-null  object
 8   class             300153 non-null  object
 9   duration          300153 non-null  float64
 10  days_left         300153 non-null  int64
 11  price             300153 non-null  int64
dtypes: float64(1), int64(3), object(8)
memory usage: 27.5+ MB

In [9]:
backup=df.copy()

In [10]:
## Remove Unnecessary Columns
df.drop('Unnamed: 0', axis=1, inplace=True)
df.drop('flight', axis=1, inplace=True)

In [11]:
df.rename(columns={'class': 'classes'}, inplace=True)

In [12]:
num_features = [feature for feature in df.columns if df[feature].dtype != 'O']
print('Num of Numerical Feature columns :', len(num_features))
cat_features = [feature for feature in df.columns if df[feature].dtype == 'O']
print('Num of Categorical Feature columns :', len(cat_features))
discrete_features=[feature for feature in num_features if len(df[feature].unique())<=25]
print('Num of Discrete Feature columns :',len(discrete_features))
continuous_features=[feature for feature in num_features if feature not in discrete_features]
print('Num of Continuous Feature columns :',len(continuous_features))

Num of Numerical Feature columns : 3
Num of Categorical Feature columns : 7
Num of Discrete Feature columns : 0
Num of Continuous Feature columns : 3

In [13]:
#number of features for categorical columns:
print('airline:', len(df['airline'].unique()))
print('source_city:', len(df['source_city'].unique()))
print('departure_time:', len(df['departure_time'].unique()))
print('stops:', len(df['stops'].unique()))
print('arrival_time:', len(df['arrival_time'].unique()))
print('destination_city:', len(df['destination_city'].unique()))
print('classes:', len(df['classes'].unique()))

airline: 6
source_city: 6
departure_time: 6
stops: 3
arrival_time: 6
destination_city: 6
classes: 2

In [14]:
print(df['airline'].unique())
print(df['source_city'].unique())
print(df['departure_time'].unique())
print(df['stops'].unique())
print(df['arrival_time'].unique())
print(df['destination_city'].unique())
print(df['classes'].unique())

['SpiceJet' 'AirAsia' 'Vistara' 'GO_FIRST' 'Indigo' 'Air_India']
['Delhi' 'Mumbai' 'Bangalore' 'Kolkata' 'Hyderabad' 'Chennai']
['Evening' 'Early_Morning' 'Morning' 'Afternoon' 'Night' 'Late_Night']
['zero' 'one' 'two_or_more']
['Night' 'Morning' 'Early_Morning' 'Afternoon' 'Evening' 'Late_Night']
['Mumbai' 'Bangalore' 'Kolkata' 'Hyderabad' 'Chennai' 'Delhi']
['Economy' 'Business']

In [15]:
df=df.reset_index(drop=True)

In [16]:
df

,airline,source_city,departure_time,stops,arrival_time,destination_city,classes,duration,days_left,price
0,SpiceJet,Delhi,Evening,zero,Night,Mumbai,Economy,2.17,1,5953
1,SpiceJet,Delhi,Early_Morning,zero,Morning,Mumbai,Economy,2.33,1,5953
2,AirAsia,Delhi,Early_Morning,zero,Early_Morning,Mumbai,Economy,2.17,1,5956
3,Vistara,Delhi,Morning,zero,Afternoon,Mumbai,Economy,2.25,1,5955
4,Vistara,Delhi,Morning,zero,Morning,Mumbai,Economy,2.33,1,5955
...,...,...,...,...,...,...,...,...,...,...
300148,Vistara,Chennai,Morning,one,Evening,Hyderabad,Business,10.08,49,69265
300149,Vistara,Chennai,Afternoon,one,Night,Hyderabad,Business,10.42,49,77105
300150,Vistara,Chennai,Early_Morning,one,Night,Hyderabad,Business,13.83,49,79099
300151,Vistara,Chennai,Early_Morning,one,Evening,Hyderabad,Business,10.00,49,81585
300152,Vistara,Chennai,Morning,one,Evening,Hyderabad,Business,10.08,49,81585

In [17]:
df.to_csv('flight_cleaned.csv')

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300153 entries, 0 to 300152
Data columns (total 10 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   airline           300153 non-null  object
 1   source_city       300153 non-null  object
 2   departure_time    300153 non-null  object
 3   stops             300153 non-null  object
 4   arrival_time      300153 non-null  object
 5   destination_city  300153 non-null  object
 6   classes           300153 non-null  object
 7   duration          300153 non-null  float64
 8   days_left         300153 non-null  int64
 9   price             300153 non-null  int64
dtypes: float64(1), int64(2), object(7)
memory usage: 22.9+ MB

In [19]:
# Select the categorical and numerical column names
X = df[['airline', 'source_city', 'departure_time', 'stops', 'arrival_time', 'destination_city', 'classes','duration', 'days_left']]
y = df['price']

In [20]:
X

,airline,source_city,departure_time,stops,arrival_time,destination_city,classes,duration,days_left
0,SpiceJet,Delhi,Evening,zero,Night,Mumbai,Economy,2.17,1
1,SpiceJet,Delhi,Early_Morning,zero,Morning,Mumbai,Economy,2.33,1
2,AirAsia,Delhi,Early_Morning,zero,Early_Morning,Mumbai,Economy,2.17,1
3,Vistara,Delhi,Morning,zero,Afternoon,Mumbai,Economy,2.25,1
4,Vistara,Delhi,Morning,zero,Morning,Mumbai,Economy,2.33,1
...,...,...,...,...,...,...,...,...,...
300148,Vistara,Chennai,Morning,one,Evening,Hyderabad,Business,10.08,49
300149,Vistara,Chennai,Afternoon,one,Night,Hyderabad,Business,10.42,49
300150,Vistara,Chennai,Early_Morning,one,Night,Hyderabad,Business,13.83,49
300151,Vistara,Chennai,Early_Morning,one,Evening,Hyderabad,Business,10.00,49
300152,Vistara,Chennai,Morning,one,Evening,Hyderabad,Business,10.08,49

In [21]:
y.shape

(300153,)

In [22]:
# Split the dataset into training and testing sets with stratification
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [23]:
ohe=OneHotEncoder()
ohe.fit(X[['airline', 'source_city', 'departure_time', 'stops', 'arrival_time', 'destination_city', 'classes']])

OneHotEncoder()

In [24]:
column_trans=make_column_transformer((OneHotEncoder(categories=ohe.categories_),['airline', 'source_city', 'departure_time', 'stops', 'arrival_time', 'destination_city', 'classes']),
                                    remainder='passthrough')

In [25]:
dtr=DecisionTreeRegressor()

In [26]:
pipe=make_pipeline(column_trans,dtr)

In [27]:
pipe.fit(X_train,y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(categories=[array(['AirAsia', 'Air_India', 'GO_FIRST', 'Indigo', 'SpiceJet',
       'Vistara'], dtype=object),
                                                                            array(['Bangalore', 'Chennai', 'Delhi', 'Hyderabad', 'Kolkata', 'Mumbai'],
      dtype=object),
                                                                            array(['Afternoon', 'Early_Morning', 'Evening', '...
                                                                            array(['Afternoon', 'Early_Morning', 'Evening', 'Late_Night', 'Morning',
       'Night'], dtype=object),
                                                                            array(['Bangalore', 'Chennai', 'Delhi', 'Hyderabad', 'Kolkata', 'Mumbai'],
      dtype=object),
                                                                            array(['Business', 'Economy'], dtype=object)]),
                                                  ['airline', 'source_city',
                                                   'departure_time', 'stops',
                                                   'arrival_time',
                                                   'destination_city',
                                                   'classes'])])),
                ('decisiontreeregressor', DecisionTreeRegressor())])

In [28]:
y_pred  = pipe.predict(X_test)

In [29]:
r2_score(y_test,y_pred)

0.975865170214415

In [30]:
scores=[]
for i in range(2):
    X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.1,random_state=i)
    dtr=DecisionTreeRegressor()
    pipe=make_pipeline(column_trans,dtr)
    pipe.fit(X_train,y_train)
    y_pred=pipe.predict(X_test)
    scores.append(r2_score(y_test,y_pred))

In [31]:
np.argmax(scores)

0

In [32]:
scores[np.argmax(scores)]

0.9770523790428041

In [33]:
pipe.predict(pd.DataFrame(columns=X_test.columns,data=np.array(['SpiceJet','Delhi','Early_Morning','zero','Morning','Mumbai','Economy',2.33,1]).reshape(1,9)))

array([5953.])

In [39]:
y

0          5953
1          5953
2          5956
3          5955
4          5955
          ...
300148    69265
300149    77105
300150    79099
300151    81585
300152    81585
Name: price, Length: 300153, dtype: int64

The best model is found at a certain random state

In [35]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.1,random_state=np.argmax(scores))
dtr=DecisionTreeRegressor()
pipe=make_pipeline(column_trans,dtr)
pipe.fit(X_train,y_train)
y_pred=pipe.predict(X_test)
r2_score(y_test,y_pred)

0.9769923349512573

In [36]:
pickle.dump(pipe,open('Model.pkl','wb'))

In [37]:
pipe.predict(pd.DataFrame(columns=['airline', 'source_city', 'departure_time', 'stops', 'arrival_time', 'destination_city', 'classes','duration', 'days_left'],data=np.array(['SpiceJet','Delhi','Early_Morning','zero','Morning','Mumbai','Economy',2.33,1]).reshape(1,9)))

array([5953.])

In [41]:
pred_df=pd.DataFrame({'Actual Value':y_test,'Predicted Value':y_pred,'Difference':y_test-y_pred})
pred_df.head(50)

        Actual Value  Predicted Value  Difference
44712          10721          11088.0      -367.0
233644         66928          66928.0         0.0
121467          6909           6489.0       420.0
185846          2271           2586.0      -315.0
163599          4363           4363.0         0.0
192119          4357           4357.0         0.0
284224         74981          79461.0     -4480.0
287622         79349          67029.0     12320.0
134801          4914           4499.0       415.0
17827           4020           4400.0      -380.0
224006         47657          47657.0         0.0
274112         55983          55983.0         0.0
272026         52063          52063.0         0.0
25215           6395           6395.0         0.0
126994          9668           9353.0       315.0
89024           4028           4028.0         0.0
59805           5774           5774.0         0.0
241663         31682          31682.0         0.0
246836         42521          42521.0         0.0
258012         56588          56588.0         0.0
295474         44546          44546.0         0.0
215407         54777          57017.0     -2240.0
72843           3334           3334.0         0.0
275647         44583          44583.0         0.0
250672         54684          54684.0         0.0
177312          4453           4453.0         0.0
244531         49613          49613.0         0.0
21215          12150          12150.0         0.0
40245           3389           2050.0      1339.0
8575            2409           2409.0         0.0
226816         29765          29765.0         0.0
90314           4071           4071.0         0.0
99362           5853           3153.0      2700.0
114748          6262           6262.0         0.0
177601          4359           4359.0         0.0
298379         51345          51345.0         0.0
273338         55983          55983.0         0.0
195907          5070           4755.0       315.0
260661         44280          44280.0         0.0
236023         49725          49725.0         0.0
89685           4785           4785.0         0.0
43226          21746          12453.0      9293.0
252291         54684          54684.0         0.0
4752            3831           4251.0      -420.0
120574         15204          13524.0      1680.0
243010         49613          49613.0         0.0
150470          8589           8589.0         0.0
13366           3090           3090.0         0.0
248961         90748          85820.0      4928.0
43434           8883           5943.0      2940.0

In [40]:
print(df['airline'].unique())
print(df['source_city'].unique())
print(df['departure_time'].unique())
print(df['stops'].unique())
print(df['arrival_time'].unique())
print(df['destination_city'].unique())
print(df['classes'].unique())

['SpiceJet' 'AirAsia' 'Vistara' 'GO_FIRST' 'Indigo' 'Air_India']
['Delhi' 'Mumbai' 'Bangalore' 'Kolkata' 'Hyderabad' 'Chennai']
['Evening' 'Early_Morning' 'Morning' 'Afternoon' 'Night' 'Late_Night']
['zero' 'one' 'two_or_more']
['Night' 'Morning' 'Early_Morning' 'Afternoon' 'Evening' 'Late_Night']
['Mumbai' 'Bangalore' 'Kolkata' 'Hyderabad' 'Chennai' 'Delhi']
['Economy' 'Business']

In [38]:
# Print unique values sorted alphabetically
print(sorted(df['airline'].unique()))
print(sorted(df['source_city'].unique()))
print(sorted(df['departure_time'].unique()))
print(sorted(df['stops'].unique()))
print(sorted(df['arrival_time'].unique()))
print(sorted(df['destination_city'].unique()))
print(sorted(df['classes'].unique()))

['AirAsia', 'Air_India', 'GO_FIRST', 'Indigo', 'SpiceJet', 'Vistara']
['Bangalore', 'Chennai', 'Delhi', 'Hyderabad', 'Kolkata', 'Mumbai']
['Afternoon', 'Early_Morning', 'Evening', 'Late_Night', 'Morning', 'Night']
['one', 'two_or_more', 'zero']
['Afternoon', 'Early_Morning', 'Evening', 'Late_Night', 'Morning', 'Night']
['Bangalore', 'Chennai', 'Delhi', 'Hyderabad', 'Kolkata', 'Mumbai']
['Business', 'Economy']